/* .card{
  width: 350px;
  height: 400px;
  background-color: pink;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin : 20px;
  color: rgb(236, 229, 229);
} */
/* .card img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; */
  /* margin-left: 50px; */
  /* translate: 35%; */
  
/* } */
/* .card h1{
  font-size: 24px;
  translate: 20%;
}
.card p{
  font-size: 16px;
  color: rgb(236, 229, 229);
  padding: 10px;
} */